*{
	margin: 0;
	padding: 0;
}
body{
	font-size:13px;
	color:white;
	background-color:black;
	
}
.box{
	position:relative;
	width: 754px;
	height: 300px;
	margin: 115px auto 0;
}
.box .slide-prev,.box .slide-next{
	position:absolute;
	top: 50%;
	width: 40px;
	height: 80px;
	margin-top:-40px ;
	text-align: center;
	cursor: pointer;
}
.box .slide-next{
	right: -110px;
}
.box .slide-prev{
	left: -60px;
}
.box ul{
	position:relative;
	width: 754px;
	height: 300px;
	border: 1px solid white;
} 
.box li{
	list-style: none;
	position:absolute;
	width: 0;
	height: 0;
	border: 2px solid black;
	left: 50%;
	top: 50%;
}
.box img{
	width: 100%;
	height: 100%;
}
